.background {
  background-image: url("https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
}

.loginContainer {
  position: absolute;
  left: 20%;
  width: 25% !important;
}
.registerationButton {
  position: absolute;
  top: 50%;
  right: 20%;
}

@media only screen and (max-width: 830px) {
  .loginContainer {
    left: 50%;
    width: 80% !important;
  }
  .registerationButton {
    top: 85%;
    left: 20%;
    width: 60%;
  }
}
